{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

{%- if settings.color_footer == settings.color_body_bg -%}
  {%- style -%}
    .site-footer {
      border-top: 1px solid {{ settings.color_borders }};
    }
  {%- endstyle -%}
{%- endif -%}

<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="page-width footer-padding">

    <div class=" footer-flex">
        
        <div class="footer-first-column">

            <div class="grid__item footer__item--978db470-2aa1-495b-9cda-0568d693f939" data-type="custom">
              <style data-shopify="">
                @media only screen and (min-width: 769px) and (max-width: 959px) {
                  .footer__item--978db470-2aa1-495b-9cda-0568d693f939 {
                    width: 100%;
                    padding-top: 40px;
                  }

                  .footer__item--978db470-2aa1-495b-9cda-0568d693f939:nth-child(2n + 1) {
                    clear: left;
                  }
                }

                @media only screen and (min-width: 960px) {
                  .footer__item--978db470-2aa1-495b-9cda-0568d693f939 {
                    width: 100%;
                  }

                }
              </style>
              <div>
                {% comment %} <p class="h4 footer__title small--hide"></p> {% endcomment %}
                {% comment %} <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide"
                  aria-controls="Footer-978db470-2aa1-495b-9cda-0568d693f939" aria-expanded="false">

                  <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down"
                      viewBox="0 0 28 16">
                      <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd">
                      </path>
                    </svg>
                  </span>
                </button> {% endcomment %}
                {% comment %} <div id="Footer-978db470-2aa1-495b-9cda-0568d693f939" class="collapsible-content collapsible-content--small">
                  <div class="collapsible-content__inner">
                    <div class="footer__collapsible"> {% endcomment %}
                      
                      <img src="{{'logo-black.jpg'|asset_img_url: '1000x'}}"/>
                      
                      <p class="letter-spacing-negative-point-zero-five" style="color: rgba(255,255,255,0.79)">Get BBQ guides, recipes, and out free digital cookbook sent straight to your inbox.</p>
                    {% comment %} </div>
                  </div>
                </div> {% endcomment %}
              </div>
            </div>










            <div class="grid__item footer__item--bb0d7fce-d933-41c3-bb04-2c5b2881f317" data-type="newsletter">
              <style data-shopify="">
                @media only screen and (min-width: 769px) and (max-width: 959px) {
                  .footer__item--bb0d7fce-d933-41c3-bb04-2c5b2881f317 {
                    width: 100%;
                    padding-top: 40px;
                  }

                  .footer__item--bb0d7fce-d933-41c3-bb04-2c5b2881f317:nth-child(2n + 1) {
                    clear: left;
                  }
                }

                @media only screen and (min-width: 960px) {
                  .footer__item--bb0d7fce-d933-41c3-bb04-2c5b2881f317 {
                    width: 100%;
                  }

                }
              </style>
              <div>
                {% comment %} <p class="h4 footer__title small--hide"></p> {% endcomment %}
                {% comment %} <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide"
                  aria-controls="Footer-bb0d7fce-d933-41c3-bb04-2c5b2881f317" aria-expanded="false">

                  <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down"
                      viewBox="0 0 28 16">
                      <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd">
                      </path>
                    </svg>
                  </span>
                </button> {% endcomment %}
                {% comment %} <div id="Footer-bb0d7fce-d933-41c3-bb04-2c5b2881f317" class="collapsible-content collapsible-content--small">
                  <div class="collapsible-content__inner">
                    <div class="footer__collapsible"> {% endcomment %}
                      <form method="post" action="/contact#newsletter-footer" id="newsletter-footer" accept-charset="UTF-8"
                        class="contact-form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8"
                          value="✓"><label for="Email-bb0d7fce-d933-41c3-bb04-2c5b2881f317" class="hidden-label">Enter email</label>
                        <input type="hidden" name="contact[tags]" value="prospect,newsletter">
                        <input type="hidden" name="contact[context]" value="footer">
                        <div class="footer__newsletter">
                          <input type="email" value="" placeholder="Enter email" name="contact[email]"
                            id="Email-bb0d7fce-d933-41c3-bb04-2c5b2881f317" class="footer__newsletter-input" autocorrect="off"
                            autocapitalize="off">
                          <button type="submit" class="footer__newsletter-btn" name="commit" aria-label="Subscribe">SIGN UP
                            {% comment %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-email"
                              viewBox="0 0 64 64">
                              <path d="M63 52H1V12h62zM1 12l25.68 24h9.72L63 12M21.82 31.68L1.56 51.16m60.78.78L41.27 31.68"></path>
                            </svg> {% endcomment %}
                            {% comment %} <span class="footer__newsletter-btn-label">
                              Subscribe
                            </span> {% endcomment %}
                          </button>
                        </div>
                      </form>
                      <p style="margin-top:25px; letter-spacing: -.05rem; font-size: 20px;font-weight:bolder">Get Social</p>
                      <ul class="no-bullets social-icons footer__social">
                        <li>
                          <a target="_blank" rel="noopener" href="https://www.instagram.com/smokedbbqsource"
                            title="Smoked BBQ Source on Instagram">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram"
                              viewBox="0 0 32 32">
                              <path fill="#444"
                                d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z">
                              </path>
                              <path fill="#444"
                                d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z">
                              </path>
                            </svg>
                            <span class="icon__fallback-text">Instagram</span>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" rel="noopener" href="https://www.facebook.com/smokedbbqsource"
                            title="Smoked BBQ Source on Facebook">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook"
                              viewBox="0 0 14222 14222">
                              <path
                                d="M14222 7112c0 3549.352-2600.418 6491.344-6000 7024.72V9168h1657l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4968.72C2600.418 13603.344 0 10661.352 0 7112 0 3184.703 3183.703 1 7111 1s7111 3183.703 7111 7111zm-8222 7025c362 57 733 86 1111 86-377.945 0-749.003-29.485-1111-86.28zm2222 0v-.28a7107.458 7107.458 0 0 1-167.717 24.267A7407.158 7407.158 0 0 0 8222 14137zm-167.717 23.987C7745.664 14201.89 7430.797 14223 7111 14223c319.843 0 634.675-21.479 943.283-62.013z">
                              </path>
                            </svg>
                            <span class="icon__fallback-text">Facebook</span>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" rel="noopener" href="https://www.youtube.com/c/smokedbbqsource"
                            title="Smoked BBQ Source on YouTube">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-youtube"
                              viewBox="0 0 21 20">
                              <path fill="#444"
                                d="M-.196 15.803q0 1.23.812 2.092t1.977.861h14.946q1.165 0 1.977-.861t.812-2.092V3.909q0-1.23-.82-2.116T17.539.907H2.593q-1.148 0-1.969.886t-.82 2.116v11.894zm7.465-2.149V6.058q0-.115.066-.18.049-.016.082-.016l.082.016 7.153 3.806q.066.066.066.164 0 .066-.066.131l-7.153 3.806q-.033.033-.066.033-.066 0-.098-.033-.066-.066-.066-.131z">
                              </path>
                            </svg>
                            <span class="icon__fallback-text">YouTube</span>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" rel="noopener" href="https://www.pinterest.com/smokedbbqsource"
                            title="Smoked BBQ Source on Pinterest">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest"
                              viewBox="0 0 256 256">
                              <path
                                d="M0 128.002c0 52.414 31.518 97.442 76.619 117.239-.36-8.938-.064-19.668 2.228-29.393 2.461-10.391 16.47-69.748 16.47-69.748s-4.089-8.173-4.089-20.252c0-18.969 10.994-33.136 24.686-33.136 11.643 0 17.268 8.745 17.268 19.217 0 11.704-7.465 29.211-11.304 45.426-3.207 13.578 6.808 24.653 20.203 24.653 24.252 0 40.586-31.149 40.586-68.055 0-28.054-18.895-49.052-53.262-49.052-38.828 0-63.017 28.956-63.017 61.3 0 11.152 3.288 19.016 8.438 25.106 2.368 2.797 2.697 3.922 1.84 7.134-.614 2.355-2.024 8.025-2.608 10.272-.852 3.242-3.479 4.401-6.409 3.204-17.884-7.301-26.213-26.886-26.213-48.902 0-36.361 30.666-79.961 91.482-79.961 48.87 0 81.035 35.364 81.035 73.325 0 50.213-27.916 87.726-69.066 87.726-13.819 0-26.818-7.47-31.271-15.955 0 0-7.431 29.492-9.005 35.187-2.714 9.869-8.026 19.733-12.883 27.421a127.897 127.897 0 0 0 36.277 5.249c70.684 0 127.996-57.309 127.996-128.005C256.001 57.309 198.689 0 128.005 0 57.314 0 0 57.309 0 128.002z">
                              </path>
                            </svg>
                            <span class="icon__fallback-text">Pinterest</span>
                          </a>
                        </li>
                        <li>
                          <a target="_blank" rel="noopener" href="https://www.tiktok.com/@smokedbbqsource"
                            title="Smoked BBQ Source on TikTok">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tiktok"
                              viewBox="0 0 2859 3333">
                              <path
                                d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z">
                              </path>
                            </svg>
                            <span class="icon__fallback-text">TikTok</span>
                          </a>
                        </li>
                      </ul>


                    {% comment %} </div>
                  </div>
                </div> {% endcomment %}
              </div>
            </div>











        </div>



        <div class="footer-menu-column">
        
                  <div class="grid__item footer__item--1494301487049" data-type="menu">
                    <style data-shopify="">
                      @media only screen and (min-width: 769px) and (max-width: 959px) {
                        .footer__item--1494301487049 {
                          width: 100%;
                          padding-top: 40px;
                        }

                        .footer__item--1494301487049:nth-child(2n + 1) {
                          clear: left;
                        }
                      }

                      @media only screen and (min-width: 960px) {
                        .footer__item--1494301487049 {
                          width: 100%;
                        }

                      }
                    </style>
                    <p class="h4 footer__title letter-spacing-negative-point-zero-five">
                      Explore
                    </p>
                    {% comment %} <button type="button"
                      class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide"
                      aria-controls="Footer-1494301487049" aria-expanded="false">
                      Explore
                      <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                        <svg aria-hidden="true" focusable="false" role="presentation"
                          class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                          <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"
                            fill-rule="evenodd"></path>
                        </svg>
                      </span>
                    </button> {% endcomment %}
                    {% comment %} <div id="Footer-1494301487049" class="collapsible-content collapsible-content--small">
                      <div class="collapsible-content__inner">
                        <div class="footer__collapsible"> {% endcomment %}
                          <ul class="no-bullets site-footer__linklist letter-spacing-negative-point-zero-five">
                            <li><a href="/">Recipes</a></li>
                            <li><a href="/">Barbeque Guides</a></li>
                            <li><a href="/">Grill Guides</a></li>
                            <li><a href="/">Reviews</a></li>
                          </ul>
                        {% comment %} </div>
                      </div>
                    </div> {% endcomment %}
                  </div>
        
        </div>
        <div class="footer-menu-column">
              
              <div class="grid__item footer__item--8e9bb49c-1ce4-4556-bdb2-281fb7b4d4b6" data-type="menu">
                <style data-shopify="">
                  @media only screen and (min-width: 769px) and (max-width: 959px) {
                    .footer__item--8e9bb49c-1ce4-4556-bdb2-281fb7b4d4b6 {
                      width: 100%;
                      padding-top: 40px;
                    }

                    .footer__item--8e9bb49c-1ce4-4556-bdb2-281fb7b4d4b6:nth-child(2n + 1) {
                      clear: left;
                    }
                  }

                  @media only screen and (min-width: 960px) {
                    .footer__item--8e9bb49c-1ce4-4556-bdb2-281fb7b4d4b6 {
                      width: 100%;
                    }

                  }
                </style>
                <p class="h4 footer__title letter-spacing-negative-point-zero-five">
                  Company
                </p>
                {% comment %} <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide"
                  aria-controls="Footer-8e9bb49c-1ce4-4556-bdb2-281fb7b4d4b6" aria-expanded="false">
                  Company
                  <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down"
                      viewBox="0 0 28 16">
                      <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"
                        fill-rule="evenodd"></path>
                    </svg>
                  </span>
                </button> {% endcomment %}
                {% comment %} <div id="Footer-8e9bb49c-1ce4-4556-bdb2-281fb7b4d4b6" class="collapsible-content collapsible-content--small">
                  <div class="collapsible-content__inner">
                    <div class="footer__collapsible"> {% endcomment %}
                      <ul class="no-bullets site-footer__linklist letter-spacing-negative-point-zero-five">
                        <li><a href="/">About Us</a></li>
                        <li><a href="/">Jobs</a></li>
                        <li><a href="/">Editorial Guidlines</a></li>
                        <li><a href="/">Privacy Policy</a></li>
                        <li><a href="/">Terms and Conditions</a></li>
                      </ul>
                    {% comment %} </div>
                  </div>
                </div> {% endcomment %}
              </div>
        
        </div>
        <div class="footer-menu-column">
                <div class="grid__item footer__item--5eaa5b96-aebd-4f84-9194-fb552de06ff5" data-type="menu">
                  <style data-shopify="">
                    @media only screen and (min-width: 769px) and (max-width: 959px) {
                      .footer__item--5eaa5b96-aebd-4f84-9194-fb552de06ff5 {
                        width: 100%;
                        padding-top: 40px;
                      }

                      .footer__item--5eaa5b96-aebd-4f84-9194-fb552de06ff5:nth-child(2n + 1) {
                        clear: left;
                      }
                    }

                    @media only screen and (min-width: 960px) {
                      .footer__item--5eaa5b96-aebd-4f84-9194-fb552de06ff5 {
                        width: 100%;
                      }

                    }
                  </style>
                  <p class="h4 footer__title letter-spacing-negative-point-zero-five">
                    Get Help
                  </p>
                  {% comment %} <button type="button"
                    class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide"
                    aria-controls="Footer-5eaa5b96-aebd-4f84-9194-fb552de06ff5" aria-expanded="false">
                    Get Help
                    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                      <svg aria-hidden="true" focusable="false" role="presentation"
                        class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                        <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"
                          fill-rule="evenodd"></path>
                      </svg>
                    </span>
                  </button>
                  <div id="Footer-5eaa5b96-aebd-4f84-9194-fb552de06ff5"
                    class="collapsible-content collapsible-content--small">
                    <div class="collapsible-content__inner">
                      <div class="footer__collapsible"> {% endcomment %}
                        <ul class="no-bullets site-footer__linklist letter-spacing-negative-point-zero-five">
                          <li><a href="/">Contact Us</a></li>
                          <li><a href="/">Advertising Inquiries</a></li>
                        </ul>
                      {% comment %} </div>
                    </div>
                  </div> {% endcomment %}
                </div>
        
        </div>
        
        
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_language_selector",
      "info": "t:sections.footer.settings.header_language_selector"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.settings.show_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_currency_selector",
      "info": "t:sections.footer.settings.header_currency_selector"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.footer.settings.show_currency_selector.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency_flags",
      "label": "t:sections.footer.settings.show_currency_flags.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_additional_footer_content"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:sections.footer.settings.show_payment_icons.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "t:sections.footer.settings.show_copyright.label"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "t:sections.footer.settings.copyright_text.label"
    }
  ],
  "blocks": [
    {
      "type": "logo_social",
      "name": "t:sections.footer.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.footer.blocks.logo.settings.logo.label"
        },
        {
          "type": "range",
          "id": "desktop_logo_height",
          "label": "t:sections.footer.blocks.logo.settings.desktop_logo_height.label",
          "default": 50,
          "min": 20,
          "max": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.logo.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.footer.blocks.navigation.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.navigation.settings.show_footer_title.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.navigation.settings.menu.label",
          "default": "footer",
          "info": "t:sections.footer.blocks.navigation.settings.menu.info"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.navigation.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter_and_social.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.show_footer_title.label",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.newsletter_and_social.settings.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.title.label",
          "default": "Sign up and save"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.text.label",
          "info": "t:sections.footer.blocks.newsletter_and_social.settings.text.info",
          "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.newsletter_and_social.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "custom",
      "name": "t:sections.footer.blocks.custom_text.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.custom_text.settings.show_footer_title.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.custom_text.settings.title.label",
          "default": "Custom text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.custom_text.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.custom_text.settings.text.label",
          "default": "<p>Add your own custom text here.</p>"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.custom_text.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    }
  ],
  "default": {
    "settings": {},
    "blocks": [
      {
        "type": "menu",
        "settings": {}
      },
      {
        "type": "logo_social",
        "settings": {}
      }
    ]
  }
}
{% endschema %}
